.title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.input-search {
  float: left;
}

.calendar-search {
  float: right;
  width: 70%;
}
.ant-form {
  font-family: "roboto";
}
.form_input__price {
  width: 300px;
}
