.input-search {
  float: left;
}

.search {
  float: right;
  width: 70%;
  display: flex;
  margin-bottom: 10px;
  justify-content: right;
  @media only screen and (max-width: 1000px) {
    float: left;
    background-color: lightblue;
    justify-content: left;
    margin-top: 10px;
  }
  .calendar {
    margin-right: 10px;
  }
}
